:root {
  --primary: #3478a3;
  --secondary: #6fbdd9;
  --tertiary: #e68a65;
  --text-primary: #ffffff;
  --text-secondary: #333333;
  --text-color: #333333; /* Colore del testo per un migliore contrasto */
  --background-light: #e0eafc; /* Colore dello sfondo più chiaro */
  --background-dark: #cfdef3; /* Colore dello sfondo più scuro */
  --element-shadow: rgba(0, 0, 0, 0.25); /* Ombreggiatura per gli elementi */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif; /* Aggiunto font-family per coerenza */
}
html,
body {
  min-height: 100vh;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--background-light),
    var(--background-dark)
  );
  color: var(--text-color);
}

header {
  font-weight: bold;
  height: 150px;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--primary);
  color: white;
  box-shadow: 0 2px 4px var(--element-shadow);
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary);
  padding: 1rem;
  width: 90%;
  border-radius: 14px;
  border: none;
  margin: 1rem auto;
  box-shadow: 1px 2px 8px 4px var(--element-shadow);
}

.label {
  font-weight: 600;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.input {
  border: 2px solid var(--primary);
  border-radius: 20px;
  padding: 10px 20px;
  width: 250px;
  margin-bottom: 10px;
}
input::placeholder {
  color: var(--text-color);
}

.btn {
  background-color: var(--tertiary);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover,
.btn:focus {
  background-color: darken(var(--tertiary), 10%);
}

.display-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 14px;
  animation: come-in 1s ease-in;
  background-color: white;
  box-shadow: 1px 2px 8px 4px var(--element-shadow);
  color: var(--text-color);
  width: 90%;
}

.grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(minMax(100px, 1fr));
  /* gap: 1rem; */
}
.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.item-container:nth-of-type(even) {
  background-color: var(--background-light);
}

.item-container > p {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.2rem;
  /* margin-bottom: 0.5rem; */
  /* padding: 1rem; */
}

.img-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-img {
  width: 50px;
}

.alert-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100%;
  width: 100%;
  /* margin: 0 auto; */
  /* background: transparent; */
  pointer-events: none;
  /* display: none; */
}
.alert-box {
  position: relative;
  width: 60%;
  background-color: rgb(248, 1, 1);
  margin: 0 auto;
  top: 0;
  border-radius: 10px;
  z-index: 100;
  text-align: center;
  animation: come-from-top 1s ease;
}
.alert-box > p {
  font-size: 1.4em;
  padding: 1rem;
}

@keyframes come-in {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes come-from-top {
  from {
    opacity: 0;
    transform: translateY(-100px);
    /* transform: translateX(-50%); */
  }
  to {
    opacity: 1;
  }
}

.hide {
  display: none;
  /* visibility: hidden; */
}

@media only screen and (max-width: 755px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    /* gap: 1; */
  }
  .item-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    height: 100px;
  }
  .item-container > p {
    flex-grow: 1;
  }
  .item-container > div {
    flex-grow: 1;
  }
}
